body{
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;	
    background-color:#124178;
    width: 250px;
}

img{
    width: 50%;
    display: block;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: #003153;
}
.header p{
    font-family: inherit;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    margin: 0;
}
.info{
    width: 25px;
    height: 25px;
    text-align: center;
    border: 2px solid #fff;  
    border-radius: 50%;
}

.container-logo{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin: 7px 0;
}
.container-logo:hover{
    background-color: #313131;
    transform: scale(1.05);
}

.container-logo .img-hitomi{
    width: 25%;
}
.names{
    color: #fff;
    user-select: none;
    margin: 0;
    font-size: 20px;
}
.inputs{
    outline: none;
    width: 70%;
    font-family: inherit;
    border-radius: 5px;
    padding: 5px 0;
    padding-left: 10px;
}
/*Botones -> Buscar - Link*/
.container-btn{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 5px 0;
}
.btn{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 7px;
    background-color: #272727;
    border-radius: 5px;
}

/*Efecto al ser precionado los botones*/
.btn:active {
    transform: scale(0.95);
}

/*slidedown inputs*/
.container-input{
    transition:height .3s ease-out;
    height:0px;
    overflow:hidden;
    text-align: center;
}
/*slidedown link*/
.container-link{
    transition:height .3s ease-out;
    height:0px;
    overflow:hidden;
    text-align: center;
}

/* Footer*/
footer p{
    text-align: center;
    margin: 10px 0 0 0;
    padding:7px 0;
    color: #fff;
    background-color: #003153;
}