body{
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;	
    background-color:#124178;
}

img{
    width: 50%;
    display: block;
}
.container{
    width: 180px;
    height: 200px;
    border: 2px solid #000;
    text-align: center;
}
.container-logo{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    margin: 5px 0;
}
.container-logo:hover{
    background-color: #313131;
}
.container-logo .img-hitomi{
    width: 25%;
}
.names{
    color: #fff;
    user-select: none;
    margin: 0;
    font-size: 20px;
}
.inputs{
    outline: none;
    width: 70%;
    font-family: inherit;
    border-radius: 5px;
    padding: 5px 0;
    padding-left: 10px;
}
/*Botones -> Buscar - Link*/
.container-btn{
    display: flex;
    justify-content: space-evenly;
    margin: 5px 0;
}
.btn{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px;
    background-color: #272727;
    border-radius: 5px;
}

/*slidedown*/
.container-input{
    transition:height .3s ease-out;
    height:0px;
    overflow:hidden;
}
